<p>doit afficher la page pour un seul jeu</p><br><br>



<!-- DEBUT présentation-->
<div id="presentation">



	<!-- DEBUT infos principales-->
	<div id="infos_principales">

		
		<!-- DEBUT titre -->
		<div id="titre">
			<h1><%= @a_game.name %></h1><br>
		</div>
		<!-- FIN titre -->

		<!-- DEBUT note moyenne -->
		<div id="note_moyenne">

		</div>
		<!-- FIN note moyenne -->

		<!-- DEBUT pegi -->
		<div id="pegi">
			<% @gpegi.each do |gpegi| %>	
				<%= image_tag(gpegi.pegi.imgurl, width:"100" ,alt: gpegi.pegi.name) %>
			<% end %>
		</div><br><br>
		<!-- FIN pegi -->

		<!-- DEBUT tags -->
		<div id="tags">
			<ul>
			<% @gt.each do |gt| %>	
				<li><%= gt.tag.name %></li>
			<% end %>
			</ul>
		</div>
		<!-- FIN tags -->

		<!-- DEBUT prix -->
		<div id="prix">
			<p><%= @a_game.price %>€</p><br><br>
		</div>
		<!-- FIN prix -->

		<!-- DEBUT installer -->
		<div id="installer">
			<button><a href="https://store.steampowered.com/?l=french">Installer</a></button><br><br> 	
		</div>
		<!-- FIN installer -->

		
	</div>
	<!-- FIN infos principales-->

	<!-- DEBUT date de sortie -->
		<div id="release_date">
			<p>Date de sortie : <%= @a_game.date_release %></p><br><br>
		</div>
	<!-- FIN date de sortie -->

</div>
<!-- FIN présentation-->


	<!-- DEBUT description -->
		<div id="description">
			<%= @a_game.description %><br><br>
		</div>
	<!-- FIN description -->

___________________<br><br>

	<!-- DEBUT DLC -->
		<div id="DLC">
			<% @dlc.each do |dlc| %>
				<p>DLC : <%= dlc.name %> </p> <br>
				<p><%= dlc.description %></p><br>
				<p><%= dlc.price %>€</p><br>
			<% end %>
		</div>
	<!-- FIN DLC -->
